# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/build
**/dist
LICENSE
README.md
node_modules/
logs
coverage
.next/
dist/
.turbo/
.git
.git/**
.pnpm-store
.pnpm-store/**
node_modules
node_modules/**
coverage
coverage/**
dist
dist/**
.next
.next/**
.turbo
.turbo/**
.vscode
.idea

Docker.legacy
docker-compolegacy.yml

*.log
